@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');




main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 100px;
    
    background: linear-gradient(180deg, rgba(235, 235, 235, 0.31) 0%, rgba(235, 235, 235, 0.31) 0.01%, rgba(56, 126, 152, 0.31) 100%);
}

.main-img{
    width: 464px;
    aspect-ratio: 1;

}

.main-img img{
    
    height: 540px;
}

@media screen and (max-width: 550px){
    main{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 40px;
    }
    .main-img{
        width: 300px;
        height: 300px;
        text-align: center;
    }
    
    .main-img img{
        height: 300px;
        text-align: center;
    }

    .main-text h2{
        font-size: 2.4rem;
        text-align: center;
        min-width: 300px;
    }

    .section-1 img{
        padding-inline-start: 30%;
    }

}

@media screen and (max-width: 360px){
    .header-img{
        width: 50px;
        height: 50px;
    }
    
    .header-img img{
        object-fit: cover;
        height: 50px;
        width: auto;
    }

    .main-img{
        width: 170px;
        height: 170px;
    }
    
    .main-img img{
        height: 170px;
    }

    .main-text h2{
        font-size: 2rem;
        text-align: center;
        min-width: 200px;
    }

    .main-text div{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .main-text div h4{
        align-self: normal;
    }
}


body, html{
    
    cursor: url("Assets/noto_hammer.svg"), auto;
}
*{
    cursor: url("Assets/noto_hammer.svg"), auto;
    user-select: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
}

.header-mobile{
    display: none;
}

.header-img{
    width: 50px;
    height: 50px;
}

.header-img img{
    object-fit: cover;
    height: 50px;
    width: auto;
}

.header-links{
    display: flex;
    gap: 60px;
    transform: translateY(12px);
}

.header-links li{
    list-style: none;
}

.header-links li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header-links li a:hover{
    transition: all 100ms;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-bottom-color: rgb(30, 131, 131);
    border-style: solid;
    padding: 5px 5px;
    border-radius: 5px;
}
.header-links li [data-present="true"]{
    transition: all 500ms;
    background-color: black;
    color: rgb(255, 255, 255);
    border-color: rgb(30, 131, 131);
    border-style: solid;
    padding: 5px 15px;
    border-radius: 20px;
}

.contact-btn{
    background-color: black;
    border-color: rgb(30, 131, 131);
    border-style: solid;
    padding: 5px 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    height: fit-content;
}

.contact-btn a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.title-container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

}
#carouselTitle {
    color: #000;
text-align: center;
font-family: Poppins;
font-size:38px;
font-style: normal;
font-weight: 600;
line-height: 0px; /* 32.813% */
letter-spacing: -0.14px;
}
#carouselTitle2 {
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 0px; /* 32.813% */
letter-spacing: -0.14px;
}
#logo{
    object-fit: cover;
    height: 50px;
    width: auto;
}
a img{
    width: 15px;
    height: 15px;
}
.under-carousel{
    display: flex;
    gap: 10px;
    flex-direction: row;
   
}
@media screen and (min-width: 1200px){
    .closer{
        margin-inline-end:20% ;
    }
    #Ini{
        padding: 10px;
    }
    #carouselTitle {
        color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px; /* 32.813% */
    letter-spacing: -0.14px;
    }
    #carouselTitle2 {
        color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px; /* 32.813% */
    letter-spacing: -0.14px;
    }
#carouselText{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 1px; /* 58.333% */
letter-spacing: -0.14px;
}
#carouselText2{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 1px; /* 58.333% */
letter-spacing: -0.14px;
}
.carousel-text-container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 0px;
}
.main-text{
    padding-inline-start: 20px;
    padding-block-start:60px ;
}
.section-1 h2{
    color: #387E98;
    
    font-family: 'Cormorant Garamond', serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 43.75% */
    letter-spacing: -0.14px;
}
.section-1-1 p{
    color: #75787C;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 37.5px; /* 156.25% */
letter-spacing: 3.86px;
}
.section-1 h3
{
    margin-inline-start: 30%;
    color: #387E98;
   
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 43.75% */
    letter-spacing: -0.14px;
}
.section-1-1{
    display: flex;
}
.section-1-1 p{
    margin: auto;
width: 40%;
}
}
@media screen and (max-width: 460px){
    .title-container{
      display: flex;
    text-align: justify ;
   
    
    }
    #carouselTitle {
        color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px; /* 32.813% */
    letter-spacing: -0.14px;
    }
    #carouselTitle2 {
        color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px; /* 32.813% */
    letter-spacing: -0.14px;
    }

}
@media screen and (max-width: 800px){
    .section-1-1 h3, .section-1-1 h2, .section-1-1 p{
        margin-inline-start: 20px;

    }
    .section-1 h2{
        color: #387E98;
        text-align: center;
        font-family: 'Cormorant Garamond', serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px; /* 43.75% */
        letter-spacing: -0.14px;
    }
    .section-1-1 p{
        color: #75787C;
    font-family: Poppins;
    
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px; /* 156.25% */
    letter-spacing: 3.86px;
    }
    .section-1 h3
    {
      text-align: center;
        color: #387E98;
        font-size: 30px;
        font-family: 'Cormorant Garamond', serif;
       
        font-style: normal;
        font-weight: 700;
        line-height: 21px; /* 43.75% */
        letter-spacing: -0.14px;
    }
.center{
    text-align: center;
    margin: auto;
    margin:120px;
}
    header{
        display: none;
    }

    .header-mobile{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
    }

    .nav-open-btn{
        height: 40px;
        height: 40px;
        object-fit: contain;
    }

    .header-nav-btn{
        cursor: pointer;
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        right: 900px;
        width: 100vw;
        height: 100vh; 
        background-color: rgb(255, 255, 255);
        border-style: dotted;
        border-color: rgb(0, 0, 0);
        z-index: 9999;
        transition: right .5s ease-in-out;
    }

    .header-close-btn{
        padding: 20px 30px;
       
    }

    .header-close-btn img{
        cursor: pointer;
    }

    .mobile-header-links li{
        list-style: none;
        padding: 30px 40px;
    }

    .mobile-header-links li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: larger;
    }

    .mobile-header-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .open{
        right: 0;
    }
}


.product-image img{
    width: 220px;
    height: 165px;
}
.Product-name{
    margin-block-start: 5px;
    margin-block-end: 15px;
    font-family: 'Source Serif 4', serif;
    font-style: normal;
}
input[type="radio"]
{

    display: none;
}
input[type="radio"] + label
{
    font-family: 'Poppins';
font-style: normal;
}
input[type="radio"]:checked + label{
    font-style: oblique;
    color: #339999;
}
*{
    font-family: 'Poppins';
    font-style: normal;
}
.btn{
    color:#ffffff;
    font-weight: 400;
    background-color: #1E1E1E;
    border: 4px solid #339999;
    font-family: 'Poppins';
    font-style: normal;
    
    padding : 10px;
    
}
.botm{
    display: flex;
    background-color: #000000;
    color: #ffffff;
    width: 100%;

}
.botm div h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;  
    text-align: center; 
}
label:hover
{
    color: #339999;
}
.Recommendation-Component .title h3
{
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
}
footer h2{
    font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
}
footer h3{
    font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
}
footer h3:hover{
    transition-delay: 50ms;
    font-weight: 900;
}
.footer-links  a:hover p{
    transition-delay: 50ms;
    color: #031020;
    font-weight: 900;
}






@media only screen and (min-width: 1080px) {



    .botm{
        flex-direction: row;
       height: 184px;
       gap: 102px;
       
       padding: 100px;
       padding-block-start: 200px;
       padding-inline-start: 200px;
        
    }
    input[type="radio"]:checked + label{
        
        border-bottom: 6px solid #339999;
        
    }


    h3{
font-family: 'Source Code Pro', monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;

    }
    p{
        font-family: 'Source Serif 4', serif;
        font-style: normal;
font-weight: 400;
    }
h2{
    font-family: 'Source Serif 4';
font-style: normal;
font-weight: 600;
font-size: 22px;
}
body{
    overflow-x: hidden;
    margin-inline: 0px;
    margin-inline-start: auto;
    margin-inline-end:  auto;
    max-width: 1600px;
    padding-inline-start: 10px;
    padding-inline-end:  10px;
    background-color: #Ffff;
}
.caret
{
width: 14px;
height: 14px;

}
.caret:hover
{
    transform: rotate(180deg);
}
a{
    text-decoration: none;
    color: #494949;
    line-height: 24px;
    font-weight: 300;
}


.shop{
    margin: 5px;
    padding-inline-end: 5%;
    
}
.Shop-by-room-content {
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    
}
.shop:hover .Shop-by-room-content{
display: flex ;


}

.Accessories{
    margin: 5px;
    padding-inline-end: 5%;
 
}
.Accessories-content{
    display: none;
    flex-direction: column;
}
.Accessories:hover .Accessories-content{
    display: flex;
}
.Collections
{
    padding-inline-end: 5%;
    margin: 5px;
}

.Collections-content{
    display: none;
    flex-direction: column;
}
.Collections:hover .Collections-content{
    display: flex;
}
.More
{
    padding-inline-end: 5%;
    margin: 5px;
 
}
.More-content{
    display: none;
    flex-direction: column;
}
.More:hover .More-content{
    display: flex;
}
.Fabric
{
    padding-inline-end: 5%;
    margin: 5px;
}
.Fabric-content{
    display: none;
    flex-direction: column;
}
.Fabric:hover .Fabric-content{
    display: flex;
}

.hero-section 
{
display: flex;
flex-direction: column;
background-image: url("../imgs/desktop-view/hero-section\ desktop\ view.svg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 800px; 
align-items: center;   
}


.contact-email-address
{
    margin-inline-start: 14%;
}
.contact-office-address{
    margin-inline-start: 14%;  
}
.Quick-link{
   
margin-inline-start: 34.5%;


}


footer{
    display: flex;
}
footer .contact{
    display: block;
}
}




/* mobile view */
@media only screen and (max-width: 1080px)
 {
    .botm{
        flex-direction: column;
       height: 784px;
       gap: 40px;       
       padding-block-start: 20px;
       
        
    }

    .botm div{
        
       margin-inline-start: 100px;
       width: fit-content;
       gap: 40px; 
       align-items: center;
       
        
    }
.botm-start{
   margin-block-start: 150px; 
}

p
{
    font-family: 'Source Serif 4', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.23em;
}
a {
    
    text-decoration: none;
    color: #494949;
    line-height: 24px;
    font-weight: 300;
}
body{
    margin: 0px; 
    overflow-x: hidden; 
    
    
}

        .shop
        {   
            border-bottom: 1px solid #777777bd;
            
            background-color: #ffffff;      
            width: 100%;
        }
        .Shop-by-room-content{display: none;}
       .shop[clicked="true"] .Shop-by-room-content{
        
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            background-color: #f2f2f254;
            
        }
        .shop[clicked="true"] .Shop-by-room-content a{
            background-color: #f2f2f2a4;
            
            border-bottom:1px solid #77777750;
        }
        
        .Collections
        { 
            border-bottom: 1px solid #777777bd;
            background-color: #ffffff;      
            width: 100%;
        }
            .Collections-content{display: none;}

            .Collections[clicked="true"] .Collections-content{
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 10px;
                background-color: #f2f2f254;
            }
            .Collections[clicked="true"] .Collections-content a{
                background-color: #f2f2f2a4;
                
                border-bottom:1px solid #77777750;
            }
        .Accessories{
            border-bottom: 1px solid #777777bd;
            
            background-color: #ffffff;      
            width: 100%;
         
        }
        .Accessories-content{display: none;}

        .Accessories[clicked="true"] .Accessories-content{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            background-color: #f2f2f254;
        }
        .Accessories[clicked="true"] .Accessories-content a{
            background-color: #f2f2f2a4;
            
            border-bottom:1px solid #77777750;
        }

    .More
{
    
    border-bottom:1px solid #777777bd;
      background-color: #ffffff;      
    width: 100%;
 
}
.More-content{display: none;}

.More[clicked="true"] .More-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background-color: #f2f2f254;
   
}
.More[clicked="true"] .More-content a{
    background-color: #f2f2f2a4;
    
    border-bottom:1px solid #77777750;
}
.Fabric
{
    border-bottom:1px solid #777777bd;
    background-color: #ffffff;         
    width: 100%;
    
 
}
.Fabric-content{display: none;}

.Fabric[clicked="true"] .Fabric-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background-color: #f2f2f254;
}
.Fabric[clicked="true"] .Fabric-content a{
    background-color: #f2f2f2a4;
    
    border-bottom:1px solid #77777750;
}
    .display-section{
        display: none;

    }

    #shop-button{
        color:#F2F2F2;
        font-weight: 500;
        font-size: .8em;
        background-color: #1E1E1E;
        border: 2px solid #339999;
    }
    #Transform-y-s
    {
        
        color: #387E98;
        font-weight: 200;
        font-size: .7em;

    }
    #THP{
        color:#333333;
        font-weight: 400;
        font-size: 1.4em;
        
    }

    
    .hero-section{
 
        display: flex;
        flex-direction: column;
        background-image: url("../imgs/mobile-view/div.page-title.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        aspect-ratio: 1.79;
        
        align-items:  center;
        
        background-attachment: fixed;
    }





    .Quick-link{
   
        
        font-family: 'GFS Neohellenic';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    
        }
.Recommendation-Component .title h3
{
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
}


.Recommendation-Component{
    font-family: 'Poppins';
    gap: 0px;
    display: flex;
    flex-direction: column;
    margin-inline-start: 8px;
}
.Recommendation-items{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.Recommendation-items a:hover{
    color: #339999;
    

}
.Recommendation-items a:focus{
    font-style: oblique;
    color: #339999;
    
    

}
.Recommended-items-cards{
    display: flex;
    flex-direction: row;
    
    margin-inline-start: 8px;
    align-items:center ;
    gap: 12px;
    overflow-x: scroll;
    
}
.Recommended-items-cards .ritem .product-image{
    background-image: url("../imgs/mobile-view/sofa.svg");
    aspect-ratio: 1;
    width: 220px;
    
    background-repeat: no-repeat ;
}
.product-description{
    
    display: flex;
    flex-direction: column;
}

.collections-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    gap: 20px;
    
    
}
.collections-section button{
    background: #000000;
    border: 3px solid #387E98;
    border-radius: 31px;
    
    margin-inline-start: 10%;
    color: #F2F2F2;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
}

.Bespoke-furniture{
    background-image: url("../imgs/mobile-view/Furniture.svg");
    width: 380px;

    aspect-ratio: 1;
    column-gap: 0px;
}
.Bespoke-furniture h2{
    padding-block-start: 30%;
    padding-inline-start: 10%;
    font-family: 'Poppins';
    color: #333333;
    letter-spacing: -0.66px;
    }
    .Bespoke-furniture h3{   
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 22px;
padding-inline-start: 10%;
    }
.Bespoke-interior{
    background-image: url("../imgs/mobile-view/Interior.svg");
    width: 380px;
  
    aspect-ratio: 1;
  
    
}
.Bespoke-interior h2{
padding-block-start: 30%;
padding-inline-start: 10%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 31px;
color: #333333;
letter-spacing: -0.66px;
}
.Bespoke-interior h3{   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    padding-inline-start: 10%;
        }
.Bespoke-design{
    background-image: url("../imgs/mobile-view/design.svg");
    width: 380px;
    aspect-ratio: 1;

}
.Bespoke-design h2{
    padding-block-start: 30%;
    padding-inline-start: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    color: #333333;
    letter-spacing: -0.66px;
    }
    .Bespoke-design h3{   
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        padding-inline-start: 10%;
            }
.reasons-container{ 
    margin:3%;
    width: 90%;
    background: rgba(255, 255, 255, 0.2);
border: 1px solid rgba(0, 0, 0, 0.21);
border-radius: 5px;
    
}

.Reason{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;    
}
.Reason h3{
    font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 22px;
line-height: 34px;
color: #031020;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 10px;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

}
.feautured{
    
    display: flex ;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    

}
.feautured h3{
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 24px; 
}

.info-section{
   
    
    margin-inline: 2em;
    margin-block-start:4em ;
    font-size: 0.7rem;
    color: #777;
}
footer{
    
    margin: 8px;
}



    }